/*
Home area main div and header class
Header class is used for all h1's which describe skill 
areas
**************************************
*/
h1.skills-header {
    color: #DFE2DB;
	text-align: center;
	font-family: Garamond;
    font-size: 400%;
    background-color: #191919;
    width: 100%;
    padding: 20px;
    margin: 0;
}
#home-content {
	width: 100%;
    color: #191919;
    margin: 0;
    padding: 0;
}

/*
Main Jumbotron area/header at the top
**************************************
*/
div.jumbotron {
    background-color:transparent;
}
div.jumbotron h1 {
    font-family: Garamond;
    color: #191919;
    text-align: center;
}
div.jumbotron p {
    color: #191919;
    text-align: center;
}

/*
List group (skills) changes and variations from
the standard bootstrap css
**************************************
*/
ul.list-group {
    background-color: transparent;
    padding: 10px;
}
li.list-group-item {
    background-color: transparent;
    border:1px solid rgba(25, 25, 25, 0.2);
}
h2.list-group-header {
    padding-left: 20px;
}