/*
Main, top-level divs and body, jumbotron area, etc.
**************************************
*/
#main-div {
    width: 100%;
    padding: 0;
}
#main-body {
    width: 100%;
}

/*
Navigation bar changes and variations
from the standard bootstrap look/fee/behavior

There are lots of little things in here:
-nav bar div area
-nav bar items and list (ul,li)
-open, active, hover, etc. look/feel
**************************************
*/
nav.navbar-default {
    background-color: #191919;
    border: 0px solid black;
    border-radius: 0;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
#top-navbar {
    padding: 0;
}
nav.navbar-default a.navbar-brand {
    color: #FFF056;
    font-family: Garamond;
    font-size: 200%;
}
nav.navbar-default a.navbar-brand:hover,
nav.navbar-default a.navbar-brand:focus {
    color: #FFF056;
}
nav.navbar-default ul.navbar-nav > li > a {
    color: #DFE2DB;
}
nav.navbar-default ul.navbar-nav > li > a:hover,
nav.navbar-default ul.navbar-nav > li > a:focus {
    color: #FFF056;
    background-color: #191919;
}
nav.navbar-default ul.navbar-nav > .active > a, 
nav.navbar-default ul.navbar-nav > .active > a:hover, 
nav.navbar-default ul.navbar-nav > .active > a:focus {
    color: #191919;
    background-color:#FFF056;
    font-weight: bold;
}
nav.navbar-default ul.navbar-nav > .open > a, 
nav.navbar-default ul.navbar-nav > .open > a:hover, 
nav.navbar-default ul.navbar-nav > .open > a:focus {
    color: #191919;
    background-color:#FFF056;
    font-weight: bold;
}