<!DOCTYPE html>
<html>
<head>
    <title>Brandon Smithers - Skills</title>
    <!--External libraries-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--My libraries-->
    <link rel="stylesheet" href="~/Content/Home.css">
</head>
<body>
    <!--Head/Jumbotron at the top of the page-->
    <div class="jumbotron">
        <h1>Brandon Smithers</h1>
        <div class="row">
            <p>Software Engineer Team Lead</p>
            <p>X-COM Systems</p>
        </div>
    </div>
</body>
</html>
